
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">

      <div class="card rounded shadow">
        <div class="card-header gradient-bg text-white d-flex align-items-center">
          <i class="fas fa-hospital-alt me-2"></i>
          <h4 class="mb-0 text-light pl-2"> Add New Hospital</h4>
        </div>

        <div class="card-body">
          <%= render 'hospitals/form' %>
        </div>
      </div>

    </div>
  </div>
</div>
